sample_data.pdf
sample_data.mp4
chunk_data/
extracted_texts/
pdf-to-text-and-chunking-f34ff560eaca.json
# Keep folder, ignore contents
data_extraction_visualize/*
!data_extraction_visualize/.gitkeep

data_to_upload_to_S3/*
!data_to_upload_to_S3/.gitkeep

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Application specific
temp_uploads/
chroma_db/
*.log

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# pytest
.pytest_cache/
.coverage
htmlcov/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# === Documents ===
*.pdf

# === Video ===
*.mp4
*.mkv
*.avi
*.mov
*.flv
*.wmv
*.webm

# === Audio ===
*.mp3
*.wav
*.aac
*.flac
*.ogg
*.wma
*.m4a
*.aiff
*.alac

