fastapi
uvicorn[standard]
python-dotenv
pydantic
boto3
pinecone
openai
PyMuPDF
requests
assemblyai
langchain==0.3.0
langchain-openai==0.2.0
langchain-text-splitters==0.3.0
numpy
scikit-learn
loguru
tenacity
